.Background
{
    position: relative;
    background-size: 100%;
    background-color: rgb(25, 28, 34);
    background-image: url("Site bg.png");
    background-repeat: no-repeat;
    min-width: 1280px;
}

.MainFontColor
{
    color: rgb(13, 194, 200);
}

.Header
{
    /* width: 100%; */
    height: 115px;
    position: relative;
    background-color: rgba(174, 193, 235, 0.109);
    min-width: 1280px;
}
.HeaderText
{
    margin-top: 0%;
    position: relative;
    width: max-content;
    height: 100%;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 74px;
    text-shadow: 0px 0px 12px rgba(174, 246, 248, 0.294);
    /* background-color: rgba(174, 193, 235, 0.109); */
    text-align: center;
}
/* Класс для обнозначения элемента как цели прокрутки для скриптов */
.ScrollTo
{
    position: relative;
}


.SocialPanel
{
    position: absolute;
    height: 50px;
    width: 355px;
    top: 40%;
    right: 0%;
    transform: translateY(-30%);
    /* background-color: brown; */
}
.SocialNetworkButton
{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 6px;
    outline: none;
    border-style: none;
    transition: 0.3s;
}
.SocialNetworkButton:hover
{
    transform: scale(1.35);
    transition: 0.3s;
}
.SocialNetworkButton:active
{
    transform: scale(1.2);
    transition: 0.1s;
    filter: brightness(140%);
}

.FacebookButton
{
    background: url("Facebook logo.png");
    background-size: 100%;
}


.VKontakteButton
{
    background: url("VK logo.png");
    background-size: 100%;
}

.YouTubeButton
{
    background: url("Youtube logo.png");
    background-size: 100%;
}

.TwitterButton
{
    background: url("Twitter logo.png");
    background-size: 100%;
}

.GitHubButton
{
    background: url("Github logo.png");
    background-size: 100%;
}



.LeftPanel
{
    position: relative;
    top: -2110px;
    /* margin-top: 10px; */
    width: 260px;
    height: 2100px;
    text-align: center;
    /* background-color: rgba(174, 193, 235, 0.109); */
    background: linear-gradient(0, rgba(174, 193, 235, 0),  rgba(174, 193, 235, 0.109));
}

.MenuButton
{
    text-shadow: 0px 0px 12px rgba(174, 246, 248, 0.294);
    outline: 0px;
    height: 52px;
    width: 88%;
    position: relative;
    border-style: none;
    font-size: 26px;
    background-color: rgba(174, 193, 235, 0);
    text-align: center;
    transition: 0.1s;
}
.MenuButton:hover
{
    font-size: 34px;
    text-shadow: none;
    background-color: rgb(13, 194, 200);
    color: rgb(25, 28, 34);
    transform: scale(1.2);
    transition: 0.3s;
}
.MenuButton:active
{    
    font-size: 34px;
    text-shadow: none;
    /* background-color: rgba(189, 224, 245, 0.842); */
    filter: brightness(140%);
    transform: scale(1.15);
    transition: 0.1s;
}


.MainContent
{
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;

    margin-top: 10px;
    margin-left: 270px;

    position: relative;
    width: auto;
    height: 2100px;
    background: linear-gradient(0, rgba(174, 193, 235, 0),  rgba(45, 51, 66, 0.26));
    min-width: 960px;
    /* background: linear-gradient(0, rgba(174, 193, 235, 0),  rgba(174, 193, 235, 0.109)); */


    font-size: 26px;
}


.FooterPanel
{
    position: absolute;
    width: 100%;
    margin-top: 70px;
    height: 140px;
    min-width: 1280px;

    /* background-color: bisque; */
}

.FooterUpButton
{
    outline: none;
    border-style: none;
    background: url("Up arrow.png");
    background-size: 100%;
    position: relative;
    width: 2cm;
    height: 2cm;
    left: 95px;
    top: 30px;

    transition: 0.1s;
}
.FooterUpButton:hover
{
    transition: 0.1s;
    transform: scale(1.4);
}
.FooterUpButton:active
{
    transition: 0.1s;
    transform: scale(1.2);
    filter: brightness(140%);
}


.CopyrightInfo
{
    position: relative;
    width: 400px;
    left: 990px;
    font-size: 26px;
    transform: translateY(50%);
    transform: translateX(-50%);
    top: -20px;
    /* background-color: rgb(255, 145, 10); */
}
